:root{
    --clr-red: #aa1919;
    --clr-white: #ffffff; 
    --clr-gray: #f0eeee; 
    --clr-grey: #dddcdc; 
    --clr-grey-100: #c5c5c5; 
    --clr-black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

.hover{
    cursor: pointer;
    padding: 0.5rem; 
    transition: all 0.1s;
}

.hover:hover{
    background-color: rgba(225, 255, 255, 0.3);
    border-radius: 3px;
}

 .navbar{
    background-color: var(--clr-red);
    padding: 0.8rem 3rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.icon{
    font-size: 20px;
}

.navbar-search{
    background-color: rgba(225, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5px;
}

.navbar-search input[type=text]{
    background-color: transparent;
    color: var(--clr-gray);
    font-weight: 500;
    outline: none;
    border: none;
    padding: 5px;
}

.navbar-right{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between; 
}

.navbar-right .icon{
    cursor: pointer;
}

.modal-plus{
    
}



.main{
    display: flex; 
    gap: 3rem;
    max-width: 100%;
}

.side-nav{
    height: 100vh;
    width: 30%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--clr-gray);
    overflow-x: hidden;
    transition: 0.5s;
}

.side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

li .title {
    width: 50%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-decoration: none;
    color: var(--clr-black);
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.title:hover{
    background-color: var(--clr-grey);
}

.counter{
    margin-right: 0;
    text-align: right;
}

.accordion-history{
    background-color: var(--clr-grey-100);
    border: none;
    text-align: left;
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;    
}

.accordion-detail{
    display: none;
    transition: all 0.5s;
}

.accordion-detail a{
    text-decoration: none;
    color: var(--clr-black);
}

.accordion-detail-show{
    transition: all 0.5s;
    display: block;
} 

.hidden{
    width: 0%;
    transition: all 0.5s;
}

.main-todo-container{
    width: 100%; 
    display: flex; 
    gap: 2rem; 
    padding: 2rem;
}

.todo-box{
    width: 35%; 
    height: 50vh;
    border-radius: 5px;
    padding: 10px;
    overflow: none;
}

.todo-box-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.todo-box-title div span{
    font-size: 24px;
    font-weight: 700;
}

.list-box{
    margin: 1rem 0; 
}

.btn-task{
    background-color: transparent;
    border: none;
    padding: 15px;
    cursor: poniner; 
}

.btn-task i {
    color: var(--clr-red);
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
}

.btn-task span{
    color: var(--clr-grey-100);
}



@media screen and (max-width: 600px){
    .navbar{
        padding: 1rem;
    }
    .navbar-right, .house, .navbar-search{
        display: none;
    }

    .side-nav{
        width: 0%;
        height: auto;
    }

    .hidden{
        width: 100%;
    }

    .main-todo-container{
        flex-direction: column;
        width: 100%;
        padding: 0.1rem;
    }

    .todo-box{
        width: 100%;
    }
}  */